<div class="w3-container row centered" style="width: 100%; height: 100%; display: flex;">
    <div style="w3-container row centered">
      <h1 class="row centered">
        Book Search
      </h1>

      <div class="bookform row centered" style="display: block">

        <mat-form-field appearance="outline">
          <mat-label>
            Search by Title:
          </mat-label>
            <input matInput type="text" [formControl]="searchTitle">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>
            Search by Author:
          </mat-label>
            <input matInput type="text" [formControl]="searchAuthor">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>
            Search by Genre:
          </mat-label>
            <input matInput type="text" [formControl]="searchGenre">
        </mat-form-field>
       
       <div>
        <button mat-raised-button type="submit" (click)="search()">Search</button>
      </div>

      <!-- <div class="app-book-panel" *ngFor="let book of bookList">
        <div style="display: block">
          <span>{{book.title}}</span>
          <span>{{book.thumbnail}}</span>
          <span>Author: {{book.author}}</span>
          <span>Genre(s): {{book.genres}}</span>
        </div>
      </div> -->

    </div>

    <div class="row small space-evenly">
       <!-- <app-book-panel *ngFor="let b of selectedBooks" [book]="b" [addBook]="addBook" [removeBook]="removeBook"></app-book-panel> -->
       <app-view-book *ngFor="let b of bookList" [book]="b" [addBook]="addBook" [userOwnsBook]="false"></app-view-book>
    </div>
</div>
