<div class="page" style="width: 100%; height: 100%; display: flex;">
    <div style="width: 50%; display: block">
      <h1>
        Find a Book:
      </h1>

      <div class="bookform">
        <mat-form-field [formGroup]="searchForm" (ngSubmit)="search()">
          <label aria-label="Search by title" placeholder="Search by title">
            Title:
            <input type="text" formControlName="searchTitle">
          </label>
          <label aria-label="Search by author" placeholder="Search by author">
            Author:
            <input type="text" formControlName="searchAuthor">
          </label>
          <label aria-label="Search by genre" placeholder="Search by genre">
            Genre:
            <input type="text" formControlName="searchGenre">
          </label>
          <button id="searchbtn" type="submit">Search</button>
        </mat-form-field>
      </div>
<!-- 
      <div *ngIf="selectedBook" style="display: flex">
        <div style="display: block">
          <h2>Title</h2>
          <span>
            {{selectedBook?.volumeInfo?.title}} 
          </span>
        </div>
      </div> -->
    </div>
  </div>
