<div class="row centered">
  <h1>Lender Search</h1>
</div>
<div class="row centered">
  <mat-form-field class="search">
    <input matInput type="text" aria-label="Search for a user" placeholder="Search for a user" [(ngModel)]="searchUserName" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of userList" [value]="option.userName">
          {{option.userName}}
        </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <button color="primary" mat-stroked-button (click)="search()"><mat-icon>search</mat-icon></button>
</div>

<div class="row centered" *ngIf="selectedUser">
  <h1>{{selectedUser.userName | possessive}} books</h1>
  <div class="cart-section">
    <mat-icon>shopping_cart</mat-icon>
    <p class="counter">{{pickedBooks.length}}</p>
    <button mat-raised-button color="primary" [disabled]="pickedBooks.length == 0" (click)="openRequestDialog()">Request</button>
  </div>
</div>
<mat-divider></mat-divider>
<div class="row small space-evenly">
  <app-book-panel *ngFor="let b of selectedUsersBooks" [book]="b" [addBook]="addBook" [removeBook]="removeBook"></app-book-panel>
</div>


