<div class="base">
  <mat-toolbar color="primary" class="mat-elevation-z6">
    <span>Loose Leaf Community</span>
    <span class="fill-remaining-space"></span>
    <app-user-profile></app-user-profile>
    <app-auth-button></app-auth-button>
  </mat-toolbar>

  <!-- <app-metadata></app-metadata> -->


  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav" [class.wide]="wideSidenav()">
      <button mat-flat-button class="menu-btn" color="" routerLink="/home" routerLinkActive="mat-accent" queryParamsHandling="merge">
        <mat-icon>home</mat-icon>
        <ng-container *ngIf="wideSidenav()">Home</ng-container>
      </button>

      <button mat-flat-button class="menu-btn" color="" routerLink="/books" routerLinkActive="mat-accent" queryParamsHandling="merge">
        <mat-icon>menu_book</mat-icon>
        <ng-container *ngIf="wideSidenav()">Find Books</ng-container>
      </button>
      <button mat-flat-button class="menu-btn" color="" routerLink="/lenders" routerLinkActive="mat-accent" queryParamsHandling="merge">
        <mat-icon>person_search</mat-icon>
        <ng-container *ngIf="wideSidenav()">Search Lenders</ng-container>
      </button>
      <button mat-flat-button class="menu-btn" color="" routerLink="/loans" routerLinkActive="mat-accent" queryParamsHandling="merge">
        <mat-icon>multiple_stop</mat-icon>
        <ng-container *ngIf="wideSidenav()">My Loans/Requests</ng-container>
      </button>

      <!-- bottom button -->
      <button mat-flat-button color="" class="bottom" (click)="setWideSidenav(!wideSidenav())">
        <mat-icon *ngIf="wideSidenav()">chevron_left</mat-icon>
        <mat-icon *ngIf="!wideSidenav()">chevron_right</mat-icon>
        <ng-container *ngIf="wideSidenav()">Collapse sidebar</ng-container>
      </button>
    </mat-sidenav>
    <mat-sidenav-content class="content-container" [class.wide-nav]="wideSidenav()">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>