

<div class="container-lg my-3" >
 
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <div >
        <h2 class="text-center" style="color: white; font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace;">Book Recommendations</h2>
      </div>
        <!-- Carousel indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active" *ngFor="let book of recommendedBooks; let i = index"></li>
           
        </ol>
        <!-- Wrapper for carousel items -->
        <div class="my-5 text-center container">
          <div class="row mb-2">
            <div class="col text-center">
            </div>
          </div>
          <div class="carousel-inner">
            <ng-container *ngFor="let book of recommendedBooks; let i = index">
              <div class="carousel-item active" *ngIf="i == 0">
                <h3 class="text-white">{{book.title}}</h3>
                <img [src]="book.thumbnail" alt="First Slide">
              </div>
              <div class="carousel-item" *ngIf="i > 0">
                <h3 class="text-white">{{book.title}}</h3>
                <img [src]="book.thumbnail" alt="Second Slide">
              </div>
            </ng-container>
          </div>
          <!-- Carousel controls -->
          <a class="carousel-control-prev" href="#myCarousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#myCarousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
</div>

<div class="jumbotron ">
  <h1 class="display-4">Find Your Next Read!</h1>
  <p class="lead">Search through our various lenders and find your next great read! Loose Leaf Library have a variety of users with a variety of books to  select from!</p>
  <hr class="my-4">
  <p>Based on your previous loans, Looose Leaf Library will recommend the perfect book for you!</p>
  <p class="lead">
    <a class="btn btn-primary  btn-lg" routerLink="/books" role="button" style="background-color: #2f4357;">Search Book</a>
  </p>
</div>
<app-login></app-login>






<div class="p-5 text-center " style="background-color: #2f4357;">
  
  <h4 class="mb-3" style="color:white;">User Profile</h4>
</div>


  
  <div class="rounded container p-5 text-center shadow-lg" style="border-top:3px solid #2f4357 ">
    <h5>Add Your Book</h5>
    <form shadow-lg>
      <div class="form-group ">
        <label for="exampleInputEmail1" >ISBN</label>
        <input type="number" [(ngModel)]="ISBN" [ngModelOptions]="{standalone: true}"  class="form-control shadow-lg" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter ISBN">
      </div>
      <div class="form-group">
        <label for="selectionid">Condition</label>
        <select [(ngModel)]="Condition" [ngModelOptions]="{standalone: true}" id="selectionid" class="custom-select" >
          
          <option value="1">Like New</option>
          <option value="2">Very Good</option>
          <option value="3"> Good</option>
          <option value="4">Fair</option>
          <option value="5">Poor</option>
        </select>
      </div>
      <button type="submit" (click)="addBook()" class="btn btn-primary">Submit</button>
    </form>
</div>

      <div class="container">
  <div class="row" style="margin-top: 20px;">
    
      <div class="col-md-6 " style="min-height: 500px;"> <!--insert primary here-->
      
      <a class="d-flex justify-content-center border-bottom" routerLink="/loans"  ><h3 style=" color:#2f4357;; size:20px; font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; ">Latest Loans</h3></a>

      
      <table class="table">
        <thead class="shadow-lg">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Book</th>
            <th scope="col">Status</th>
           
          </tr>
        </thead>
        <tbody class="shadow-lg" *ngFor="let loan of firstfiveloans">
          <tr >
            <th >{{loan.id }}</th>
            <td ><p class="noPadding" *ngFor="let ownedBook of loan.loanedBooks">{{ownedBook.book.title}}</p></td> 
            <td >{{loan.status}}</td>
           
        
          </tr>
        </tbody>
      </table>


              
      </div>


      
      
        
      <div class="col-md-6">
        <div class="row h-100 flex-column">
          <div class="col-md-12 mw-100 "><!--insert danger here-->
            <a class="d-flex justify-content-center border-bottom"  routerLink="/wishlist"  ><h3 style=" color:#2f4357;; size:20px; font-family: Courier New,Courier,Lucida Sans Typewriter,Lucida Typewriter,monospace; ">Latest Wishlist</h3></a>
      
            



                
              <table class="table ">
                <thead class="shadow-lg">
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Genres</th>
                
                   
                  </tr>
                </thead>
                <tbody class="shadow-lg"  *ngFor="let book of firstfivewishlist">
                  <tr >
                    <th >{{book.title | truncate:[30, '...']}}</th>
                    <td >{{book.author}}</td> 
                    <td *ngFor="let genre of book.genres"><p>{{genre}}</p></td>            
               <!--     <td class="mdc-data-table__cell">{{book.isbn}}</td>-->
                
                  </tr>
                  
                </tbody>
              </table>
        
</div>
</div>
</div>

              </div>
              
              
    </div>
 
    </div>