<mat-card class="book-card">
  <mat-card-header>
    <mat-card-title aria-label="book?.title">
      {{ book?.title! | truncate:[17, '...'] }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ book?.author! | truncate:[22, '...'] }}
    </mat-card-subtitle>
    <span class="fill-remaining-space"></span>
    <button mat-icon-button (click)="addToWishlist()" *ngIf="!onWishlist"><mat-icon>favorite_border</mat-icon></button>
    <button mat-icon-button (click)="removeFromWishlist()" *ngIf="onWishlist" color="warn"><mat-icon>favorite</mat-icon></button>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="card-row centered">
      <img class="thumbnail" [src]="book?.thumbnail" alt="book thumbnail">
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
    <mat-card-actions class="card-row centered">
      <button [disabled]="userOwnsBook" class="add-btn" mat-flat-button color="primary" (click)="add()">{{userOwnsBook ? "You Own This Book" : "I Own This Book"}}</button>
    </mat-card-actions>
</mat-card>
