.book-card {
    width: 300px;
    height: 350px;
    margin: 10px 10px;
}

mat-card-content {
    min-height: 180px;
    height: 180px;
}

mat-card-footer {
    max-height: 30px;
}

.card-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    &.close {
        justify-content: flex-start;
    }
    &.centered {
        justify-content: center;
    }
    &.small {
        width: wrap;
    }
}
.thumbnail {
    min-height: 120px;
    height: 150px;
}

.add-btn {
    margin-left: 15px;
}