@use "@material/checkbox"; // Required only for data table with row selection.
@use "@material/icon-button"; // Required only for data table with column sorting.
@use "@material/data-table/data-table";

@include checkbox.core-styles;
@include icon-button.core-styles;
@include data-table.core-styles;
@include data-table.theme-baseline;

.centered {
    text-align: center;
}

p.noPadding {
    margin: 0;
    padding: 0;
}

button.approve {
    padding: 2px;
    margin: 5px;
    color: white;
    background-color: rgb(32, 175, 32);
    width: 7em;
}

button.deny {
    padding: 2px;
    margin: 5px;
    color: white;
    background-color: rgb(240, 75, 75);
    width: 7em;
}